body,html{
  background-color: black;
}
.App {
  text-align: center;
}

.boxdiv{
  margin: auto;
}

.heightDiv{
  height: 60vh;
  width: 40vw;
  background-color: #EEFC57;
  margin: auto;
  position: relative;
  top: 100px;
}

.title{
  color : #FC7A57;
}
#my-input{
  margin-top: 1.5rem;
}

.result{
  margin-top: 2rem;
}